# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.OpenGL_2DEngine.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\salar\Documents\Programming\C++\dev\OpenGL_2DEngine\.idea\.idea.OpenGL_2DEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
